/* 
==================================
=   SETTING UP BORDER BOX MODEL  =
==================================
*/
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* 
==================================
=           FONT FACES           =
==================================
*/
@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff');
}

/* 
==================================
=      HTML ELEMENTS CSS         =
==================================
*/
html,
body{
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
}

body {
    /*Display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Spacing */
    margin: 7vh 0 0;
    /* Sizing */
    min-height: 100vh;
    /* Fonts */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    /* Color */
    background-color: whitesmoke;
}

section {
    /*Spacing*/
    padding: 0.4em;
    margin: 0.4em;
    /*Sizing*/
    max-width: 1200px;
    width: 90vw;
    /* Fonts */
    text-align:left;
}

main {
    flex: 1;
}

h1,
h2{
    /* Fonts */
    font-size: 1.7em;
    font-weight: bold;
    /* Color */
    color: #333;
}

/* 
==================================
=          CLASSES CSS           =
==================================
=////////////////////////////////=
==================================
*/

/*
==================================
=      TOP NAVIGATION BAR        =
==================================
*/
.top-navigation-bar-container {
    /*Display*/
    display: flex;
    justify-content: center;
    z-index: 1;
}

.top-navigation-bar {
    /* Display */
    display: flex;
    justify-content: space-between;
    flex:auto;
    /* Spacing */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Sizing */
    width: 100%;
    height: auto;
    /* Position */
    position: fixed;
    top: 0;
    /* Colors */
    background-color: royalblue;
    /* Hiding the scroll bar when overflow happens on my navbar*/
    overflow: hidden;
}

.nav-logo-container{
    /*Display*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 auto;
}

.nav-item-container{
    /*Display*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.nav-button-container{
    /*Display*/
    display: none;
}
/*
==================================
=   TOP NAVIGATION <a> TAGS      =
==================================
*/
#top-navigation-bar a.nav-logo{
    /*Spacing*/
    padding: 0px 20px;
    border-top: 4px solid royalblue;
}

#top-navigation-bar a.nav-logo img{
    /*Sizing*/
    width: 165px;
    height: auto;
}

#top-navigation-bar a.nav-item {
    /* Display */
    flex: 1;
    /* Spacing */
    padding: 12px 20px;
    border-top: 4px solid royalblue;
    /* Fonts */
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    /* Colors */
    color: white;    
}

#top-navigation-bar a.active {
    /* Spacing */
    border-top: 4px solid darkgoldenrod;
    /* Fonts */
    font-weight: bold;
    /* Colors */
    background-color: white;
    color: darkgoldenrod;
}

#top-navigation-bar a.nav-item:hover {
    /* Spacing */
    border-top: 4px solid darkgoldenrod;
    /* Colors */
    background-color: white;
    color: royalblue;
    /* Animation */
    transition: ease-in-out 0.2s;
}
/*
==================================
=       WELCOME HEADER CSS       =
==================================
*/
.welcome-header-container{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /*Spacing*/
    padding: 0 10vw;
    margin-top: 5vh;
    margin-bottom: 75px;
    /*Sizing*/
    width: 90%;
    height: 45vh;
    /*Animation*/
    transition: .5s;
}

.welcome-header-content{
    /* Display */
    display:flex;
    flex-direction: column;
    flex: 1;
}

.header-content{
    /*Spacing*/
    margin-bottom: 40px;
    /*Font*/
    font-size: 2.5rem;
    font-weight: 300;
}

.header-content .header-content-brand{
    /*Display*/
    display: flex;
    flex-direction: column;
    /*Font*/
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: bold;
    /*Colors*/
    color: royalblue;
    /*Animation*/
    transition: .5s;
}

.welcome-header-content .header-content-item{
    /* Display */
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    /* Spacing */
    border-top: 3px solid royalblue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    /*Sizing*/
    width: 200px;
    min-width: 200px;
    /* Fonts */
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-style: normal;
    /* Color */
    background-color: royalblue;
    color: white;    
    /* Cursor */
    cursor: pointer;
}

.welcome-header-content .header-content-item:hover  {
    /*Spacing*/
    border-color: goldenrod;
    /*Colors*/
    background-color: white;
    color: royalblue;
    /*Transform*/
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.welcome-header-img-container{
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    /* Position */
    position: relative;
}

.welcome-header-img{
    /*Position*/
    position: absolute;
    top: 60%;
    left: 60%;
    /*Sizing*/
    width: 500px;
    height: 500px;
    object-fit: cover;
    /*Transform*/
    transform: translate(-50%, -50%);
}

.circle{
    /*Spacing*/
    border-radius: 50%;
    margin-left: 20px;
    /*Sizing*/
    width: 400px;
    height: 400px;
    /*Position*/
    position: relative;
    /*Color*/
    background: royalblue;
    /*User select*/
    user-select: none;
    /*Animation*/
    transition: .5s;
}

.circle::before{
    /*Spacing*/
    border: 10px solid #fff;
    border-radius: 50%;
    /* Position */
    position: absolute;
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    /*Content*/
    content: '';
}
/*
==================================
=          SECTIONS CSS          =
==================================
*/
.section-container {
    /*Display*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading-two{
    /* Spacing */
    text-align: center;
    /*Text Decoration*/
    text-decoration: underline 3px solid royalblue;
}

section#about p:not(:last-child){
    /*Spacing*/
    margin-bottom: 30px;
}
/*
==================================
=     HORIZONTAL LIST CSS        =
==================================
*/
.horizontal-list{
    /*Display*/
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    /*Spacing*/
    padding: 0;
    /* List style */
    list-style-type: none;
}

.horizontal-list li.skill-item {
    /* Display */
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    /* Spacing */
    border-top: 3px solid royalblue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    margin-bottom: 10px;
    /*Sizing*/
    min-width: 120px;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Color */
    background-color: royalblue;
    color: white;    
    /* Overflow */
    overflow: hidden;
}

.horizontal-list li.tool-item{
    /* Display */
    display: flex;
    flex: 0 1 auto;
    /* Spacing */
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    margin-bottom: 10px;
    /*Sizing*/
    min-width: 120px;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Color */
    background-color: white;
    color: royalblue;    
    /* Overflow */
    overflow: hidden;
}

.horizontal-list li.skill-item a {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /* Spacing */
    padding: 5px;
    /* Sizing */
    width: 120px;
    min-width: 120px;
    /* Fonts */
    text-decoration: none;
    text-align: center;
    /* Colors */
    color: white;
}

.horizontal-list li.skill-item a i{
    /*Spacing*/
    margin-right: 3px;
}

.horizontal-list li.tool-item span{
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /* Spacing */
    padding: 5px;
    /* Sizing */
    width: 120px;
    min-width: 120px;
    /* Fonts */
    text-decoration: none;
    text-align: center;    
    /* Colors */
    color: royalblue;
}

.horizontal-list li.tool-item span i{
    /*Spacing*/
    margin-right: 3px;
    /* Color */    
    color: royalblue;
}

.horizontal-list li.skill-item:hover,
.horizontal-list li.skill-item:hover > * {
    /*Spacing*/
    border-color: goldenrod;
    /*Transform*/
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

/*
==================================
=           TEXT CSS             =
==================================
*/

.important-fact-link{
    /* Font */
    text-decoration: none;
}

.important-fact{
    /* Font */
    font-weight: bold;
    /* Colors */
    color:#153084;
}

.emphasis-fact{
    /* Font */
    font-weight: 300;
}

/*
==================================
=      TECH EXPERIENCE CSS       =
==================================
*/

.experience-list{
    /*Spacing*/
    padding-left: 0px;
}

.experience-position{
    /* Display */
    display: flex;
    justify-content: space-between;
    /* Spacing */
    padding: 15px;
    border-top: 4px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Font */
    font-weight: bold;
    /* Colors */
    background-color: royalblue;
    color: white;
}

.experience-position:hover{
    /* Spacing */
    border-top: 4px solid darkgoldenrod;
    /* Colors */
    background-color: white;
    color: royalblue;
    /* Animation */
    transition: ease-in-out 0.2s;
}

.experience-position:not(:last-child){
    /* Spacing */
    margin-bottom: 20px;
}

/*
==================================
=    PROJECTS & EDUCATION CSS    =
==================================
*/
.project-card,
.education-card{
    /*Display*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*Spacing*/
    padding: 15px;
    border-top: 4px solid royalblue;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Sizing */
    max-width: 400px;
    width: 100%;
    height: auto;
    /* Colors */
    background-color: royalblue;
    color: white;
    /* Font */
    font-weight: bold;
}

.project-card *:not(:last-child),
.education-card *:not(:last-child){
    /*Spacing*/
    margin-bottom: 5px;
}

.project-title-container,
.project-dates-container,
.education-institution-container,
.education-title-container,
.education-dates-container{
    /*Display*/
    display: flex;
    justify-content: center;
}

.project-image-container,
.education-image-container{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Sizing*/
    height: 200px;
}

.project-description-container{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Sizing*/
    height: 85px;
    /*Font*/
    text-align: justify;
    /*Overflow*/
    overflow: auto;
}

.education-description-container{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Sizing*/
    height: 150px;
    /*Font*/
    text-align: justify;
    /*Overflow*/
    overflow: auto;
}

.project-tools-container{
    /*Display*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*Sizing*/
    height: auto;
}

.project-title-link{
    /* Font */
    text-decoration: none;
    /* Color */
    color: white;
}

.project-image,
.education-image{
    /*Display*/
    flex: 1;
    /*Sizing*/
    width: 100%;
    height: 200px;
}
/*
==================================
=           FORMS CSS            =
==================================
*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: royalblue !important;
}

.form-container{    
    /* Display */
    display: flex;
    justify-content: center;
    /*Spacing*/
    margin-top: 25px;
    margin-bottom: 10px;
}

.form-container.edit-form{
    /*Display*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {    
    /* Display */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: initial;
    /* Spacing */
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    /* Sizing */
    width: 700px;
    /*Font*/
    text-align: left;
    /* Colors */
    background-color: royalblue;
    color: white;
}

form#edit-message-form{  
    /* Spacing */  
    margin-bottom: auto;
    /* Sizing */
    width: 100%;
    max-width: 100%;
}

.flex-controls{
    /*Display*/
    display: flex;
    justify-content: space-between;
}

.flex-control{
    /*Display*/
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Spacing */
    padding: 5px;
    margin: 5px;
    /* Sizing */
    width: 100%;
}

.form-input{
    /* Appearance */
    appearance: none;
    /* Spacing */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Sizing */
    width: 100%;
    /* Font */
    font-family: inherit;
    font-weight:normal;
    text-decoration: none;
    /*Color*/
    color: royalblue;
}

.form-input:focus{
    /* Spacing */
    border: 3px solid goldenrod;
    /* Remove default black border when focused*/
    outline: 0px;
}

.form-textarea{
    /* Appearance */
    appearance: none;
    /* Spacing */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Sizing */
    width: 100%;
    height: 100px;
    resize: none;
    /* Font */
    font-family: inherit;
    font-weight:normal;
    text-decoration: none;
    /* Color */
    color: royalblue;
}

.form-textarea:focus{
    /* Sizing */
    border: 3px solid goldenrod;
    /* Remove default black border when focused */
    outline: 0px;
}

.form-button{
    /* Appearance */
    appearance: none;
    /*Display*/
    display: block;
    /* Spacing */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 5px auto;
    /* Sizing */
    width: 110px;
    /* Font */
    font-family: inherit;
    font-weight: bold;    
    /* Colors */
    background-color: white;
    color: royalblue;
}

.form-button#editSubmit{
    /*Sizing*/
    width: 150px;
}

.form-button:hover{
    /* Spacing */
    border-top:3px solid goldenrod;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;  
    /* Transform */
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.close-button{
    /* Appearance */
    appearance: none;
    /*Display*/
    display: block;
    /* Spacing */
    border:3px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    /* Sizing */
    width: 110px;
    /* Font */
    font-family: inherit;
    font-weight: bold;    
    /* Colors */
    background-color: royalblue;
    color: white;
}

.close-button:hover{
    /* Spacing */
    border-top:3px solid goldenrod;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;  
    /* Transform */
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}



/*
==================================
=          MESSAGES CSS          =
==================================
*/

.line-white-space{
    white-space: pre-line;
}

#messages #list-of-messages {
    list-style-type: none;
    /*Padding*/
    padding-left: 0px;
}

.comment{
    /*Display*/
    display: flex;
    flex-direction:column;
    /* Spacing */
    padding: 15px;
    margin: 20px;
    border-top: 4px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Font */
    font-weight: bold;
    /* Colors */
    background-color: royalblue;
    color: white;
}

.flex-header{
    /*Display*/
    display: flex;
    justify-content: space-between;
}

.comment-anchor{
    /*Display*/
    flex: none;
    /*Font*/
    text-decoration: none;
    /* Color */
    color: white;
}

.comment-span{
    /*Display*/
    flex: none;
    /*Font*/
    font-weight: normal;
}

.comment-span.date{
    /*Font*/
    font-weight: 300;
    font-style: italic;
}

.comment-button-container{
    /*Display*/
    display: flex;
    justify-content: right;
}

.comment-button{
    /* Appearance */
    appearance: none;
    /*Spacing*/
    padding: 5px;
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 5px 5px 5px 0px;
    /* Sizing */
    width: 110px;
    /* Font */
    font-family: inherit;
    font-weight: bold;
    /* Colors */
    background-color: white;
    color: royalblue;
}

.comment-button:hover{
    /* Spacing */
    border-top:3px solid goldenrod;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;  
    /* Transform */
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

/* 
==================================
=           FOOTER CSS           =
==================================
*/

footer{
    width: 100%;
}

.footer-navigation-bar-container{
    /*Display*/
    display: flex;
    justify-content: center;
}

.footer-navigation-bar {
    /*Overflow*/
    overflow: hidden;
    /* Display */
    display: flex;
    justify-content: space-around;
    /* Spacing */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    margin-top: 25px;
    /* Sizing */
    width: 100%;
    /* Color */
    background-color: white;
}

/*
    CSS to generally style a footer element
*/
.footer-navigation-bar .footer-element {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /* Spacing */
    padding: 0px;
    /* Fonts */
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    /* Colors */
    color: royalblue;
}

.footer-navigation-bar .footer-element .horizontal-list{
    /*Display*/
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item {
    /* Overflow */
    overflow: hidden;
    /* Display */
    display: flex;
    flex: 0 1 auto;
    /* Spacing */
    border-top: 3px solid royalblue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin: 0px 10px;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Color */
    background-color: royalblue;
    color: white;    
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item:hover,
.footer-navigation-bar .footer-element .horizontal-list li.connect-item:hover > *{
    /*Spacing*/
    border-color: goldenrod;
    /*Colors*/
    background-color: white;
    color: royalblue;
    /*Transform*/
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item a{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /*Spacing*/
    padding: 10px;
    /*Sizing*/
    width: auto;
    min-width: auto;
    /* Fonts */
    text-decoration: none;
    /*Colors*/
    color: white;
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item a i{
    /*Spacing*/
    margin-right: 3px;
}

/* 
==================================
=           MODAL CSS            =
==================================
*/
.hidden {
    /* Display */
    display:none;
}

.modal-container{
    /* Visibility */
    visibility: hidden;   
    opacity: 0; 
    /*Display*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Position*/
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*Spacing*/
    padding: 0px;
    margin: 0px;
    /* Sizing */
    max-width: 100%;
    width: 100%;
    height: 100%;
    /* Colors */
    background-color: rgba(0,0,0,0.3);
    /* Transition */    
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.modal{
    /*Display*/
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Overflow*/
    overflow:auto;
    /* Sizing */
    width: 50%;
    height: 70%;
    max-height: 435px;
    max-width: 600px;
    min-width: 300px;
    /*Position*/
    bottom: 0;
    left: 0;
    /* Spacing */
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: whitesmoke;
}

.modal .form-container{
    /*Sizing*/
    width: 100%;
}

.modal h1{
    /* Spacing */
    margin-top: 2px;
    margin-bottom: 0px
}

.modal-container.show {
    /* Display */
    visibility: visible;
    opacity: 1;
}
/* 
==================================
=          MEDIA QUERIES         =
==================================
*/
/* PCS */
@media (max-width: 1410px){
    .welcome-header-container .header-content .header-content-brand{
        /*Fonts*/
        font-size: 4rem;
        transition: .5s;
    }

    .circle{
        /*Sizing*/
        width: 300px;
        height: 300px;
        /*Animation*/
        transition: .5s;
    }

    .welcome-header-img{
        /*Sizing*/
        width: 350px;
        height: 350px;
        /*Animation*/
        transition: .5s;
    }
}

/* TABLETS */
/* MAXIMUM TABLET WIDTH OF 1150PX*/
@media (max-width: 1150px){
    /* Navigation Bar */
    .top-navigation-bar-container .top-navigation-bar .nav-item-container .nav-item span{
        /*Display*/
        display: none;
    }
}

@media (max-width: 985px){
    section#tech-experience ul.experience-list li.experience-position{
        /*Display*/
        flex-direction: column;
    }
}

@media (min-width: 700px) and (max-height: 600px){
  .welcome-header-container{
    margin-top: 20vh;
  }
}

@media (min-width: 700px) and (max-height: 405px){
    .welcome-header-container{
      margin-top: 35vh;
    }
  }


@media (max-width: 700px){
    .welcome-header-container{
        /*Display*/
        flex-direction: column-reverse;
        align-items: center;
        /*Sizing*/
        height: auto;
        /*Spacing*/
        padding: 10px 10vw;
        margin-bottom: 0px;
        /*Animation*/
        transition: .5s;
    }

    .welcome-header-content{
        /*Display*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-header-img-container{
        /*Display*/
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-content{
        /*Font*/
        text-align: center;
    }

    .circle{
         /*Sizing*/
         width: 250px;
         height: 250px;
         /*Animation*/
         transition: .5s;
    }

    .welcome-header-img{
        /*Sizing*/
        width: 300px;
        height: 300px;
        /*Animation*/
        transition: .5s;
    }
}

/* Smartphones */
/* MAXIMUM WIDTH OF SMARTPHONES OF 585PX*/
@media (max-width: 585px){
    .welcome-header-container .header-content{
        /*Fonts*/
        font-size: 2rem;
        transition: .5s;
    }

    .welcome-header-container .header-content .header-content-brand{
        /*Fonts*/
        font-size: 3.5rem;
        transition: .5s;
    }
}

@media (max-width: 545px){
    .top-navigation-bar{
        /*Display*/
        justify-content: center;
        flex: 1;
    }

    #top-navigation-bar .nav-logo-container{
        /*Display*/
        flex: 1;
    }

    #top-navigation-bar .nav-item-container{
        /*Display*/
        display: none;
        flex: 1;
    }

    .nav-button-container{
        /*Display*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0 1 auto;
    }

    /* Once hamburguer menu is clicked */
    .top-navigation-bar.responsive-nav{
        /*Display*/
        flex-direction: column;
    }

    .top-navigation-bar.responsive-nav .nav-button-container,
    .top-navigation-bar.responsive-nav .nav-button-container .nav-item{
        /*Display*/
        display: block;
        position: absolute;
        /*Position*/
        right: 0px;
        top: 0px;
    }

    #top-navigation-bar.responsive-nav .nav-item-container{
        /*Display*/
        display: flex;   
        flex-direction: column;  
    }

    #top-navigation-bar.responsive-nav .nav-item-container .nav-item{
        /*Display*/
        display: flex;
        flex-direction: column;   
        /*Sizing*/
        width: 100%;   
        /*Animation*/
        animation: fade_in_show 0.5s
    }

     #top-navigation-bar.responsive-nav .nav-item-container .nav-item span{
        /*Display*/
        display: flex;
        flex-direction: column;
    }

    @keyframes fade_in_show {
        0% {
             opacity: 0;
             transform: scale(0)
        }
   
        100% {
             opacity: 1;
             transform: scale(1)
        }
   }

    section#leave-message div.form-container form#message-form div.flex-controls{
        /*Display*/
        flex-direction: column;
    }

    section#leave-message div.form-container form#message-form  div.flex-controls div.flex-control{
        /*Spacing*/
        margin: auto;
    }

    section#messages ul#list-of-messages li div.comment div.flex-header{
        /*Display*/
        flex-direction: column;
    }

    section#modal-container div.modal div.form-container.edit-form form#edit-message-form div.flex-controls{
        /*Display*/
        flex-direction: column;
    }

    section#modal-container div.modal div.form-container.edit-form form#edit-message-form div.flex-controls div.flex-control{
        /*Spacing*/
        margin: auto;
    }

    .footer-navigation-bar{
        /*Display*/
        flex-direction: column;
    }

    .footer-navigation-bar .footer-element .horizontal-list li.connect-item {
        margin: 0px 3px 10px;
    }
}

@media (max-width: 512px){
    .welcome-header-container .header-content{
        /*Fonts*/
        font-size: 1.5rem;
        transition: .5s;
    }

    .welcome-header-container .header-content .header-content-brand{
        /*Fonts*/
        font-size: 2.5rem;
        transition: .5s;
    }
}

@media (max-width: 385px){
    .welcome-header-container{
        /*Spacing*/
        padding: 0px 10vw;
        /*Animation*/
        transition: .5s;
    }

    .welcome-header-container .header-content .header-content-brand{
        /*Fonts*/
        font-size: 2rem;
        transition: .5s;
    }
    .circle{
         /*Sizing*/
         width: 200px;
         height: 200px;
         /*Animation*/
         transition: .5s;
    }

    .welcome-header-img{
        /*Sizing*/
        width: 200px;
        height: 200px;
        /*Animation*/
        transition: .5s;
    }
}

@media (max-width: 385px) and (max-height: 400px){
        .welcome-header-container{
          margin-top: 20vh;
        }
}

@media (max-width: 295px){

    #top-navigation-bar .nav-logo-container{
        /*Display*/
        display: none;
    }

    .nav-button-container{
        /*Display*/
        flex: 1 1 auto;
    }

    .top-navigation-bar.responsive-nav{
        /*Display*/
        flex-direction: column-reverse;
    }

    .top-navigation-bar.responsive-nav .nav-button-container,
    .top-navigation-bar.responsive-nav .nav-button-container .nav-item{
        /*Display*/
        display: flex;
        justify-content: center;
        /*Position*/
    }
}

@media (max-width: 130px){
     /* Navigation Bar */
     #top-navigation-bar.responsive-nav .nav-item-container .nav-item span{
        /*Display*/
        display: none;
    }
}