/* 
==================================
=           FONT FACES           =
==================================
*/
*,
*::before,
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: italic;
    font-display: swap;
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2'),
    url('../fonts/Montserrat-LightItalic.woff') format('woff');
}
/* 
==================================
=           ELEMENTS CSS         =
==================================
*/
html,
body{
    max-width: 100%;
    overflow-x: hidden;
}

html {
    scroll-padding-top: 40px;
}

body {
    /* Font */
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    /* Top margin */
    margin: 7vh 0 0;
    /* Min height to display on my html body */
    min-height: 100vh;
    /* Fonts */
    /*Display*/
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Background Color*/
    background-color: whitesmoke;
}

/* CSS for the section elements of my HTML page */
section {
    /* Justifying text on sections */
    text-align: justify;
    /* Spacing */
    padding: 0.4em;
    margin: 0.4em;
    /*Sizing*/
    max-width: 1200px;
    width: 90vw;
}

/* CSS for the main element of my HTML page */
main {
    flex: 1;
}

h1,
h2{
    /* Color */
    color: #333;
    /* Fonts */
    font-size: 1.7em;
    font-weight: bold;
}

/* 
==================================
=          CLASSES CSS           =
==================================
*/
/* CSS for container divs for page content*/
.section-container {
    /*Display*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inner-container{
    width: 100%;
    height: auto;
}

.heading-two{
    /* Layout */
    text-align: center;
    /*Text Decoration*/
    text-decoration: underline 3px solid royalblue;
}

/* 
   CSS for the unordered list with the class "horizontal-list"
   in order to turn it into a horizontal list 
*/
.horizontal-list{
    /*Display*/
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    /*Layout*/
    padding: 0;
    list-style-type: none;
}

.horizontal-list li.skill-item {
    overflow: hidden;
    /* Display */
    display: flex;
    flex: 0 1 auto;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Borders */
    border-top: 3px solid royalblue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Margins between list items*/
    margin-right: 10px;
    margin-bottom: 10px;
    /* Color */
    background-color: royalblue;
    color: white;    
    /* Width */
    min-width: 120px;
}

.horizontal-list li.tool-item{
    overflow: hidden;
    /* Display */
    display: flex;
    flex: 0 1 auto;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Borders */
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Margins between list items*/
    margin-right: 10px;
    margin-bottom: 10px;
    /* Color */
    background-color: white;
    color: royalblue;    
    /* Width */
    min-width: 120px;
}

.horizontal-list li.skill-item a {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /* Colors */
    color: white;
    /* Text */
    text-decoration: none;
    text-align: center;
    /* Padding */
    padding: 5px;
    /* Width */
    width: 120px;
    min-width: 120px;
}

.horizontal-list li.skill-item a i{
    /*Margin*/
    margin-right: 3px;
}

.horizontal-list li.tool-item span{
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /* Colors */
    color: royalblue;
    /* Text */
    text-decoration: none;
    text-align: center;
    /* Padding */
    padding: 5px;
    /* Width */
    width: 120px;
    min-width: 120px;
}

.horizontal-list li.tool-item span i{
    color: royalblue;
    /*Margin*/
    margin-right: 3px;
}

.horizontal-list li.skill-item:hover,
.horizontal-list li.skill-item:hover > * {
    /*Borders*/
    border-color: goldenrod;

    /*Colors*/
    background-color: white;
    color: royalblue;
    /*Transform*/
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.hidden {
    /* Display */
    display:none;
}

.line-white-space{
    white-space: pre-line;
}

.important-fact-link{
    text-decoration: none;
}

.important-fact{
    color:#153084;
    font-weight: bold;
}

.emphasis-fact{
    /* Font */
    font-weight: 300;
}
.experience-list{
    /*Sizing*/
    padding-left: 0px;
}

.experience-position{
    /* Display */
    display: flex;
    justify-content: space-between;
    /* Spacing */
    padding: 15px;
    /* Border */
    border-top: 4px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: royalblue;
    color: white;
    /* Font */
    font-weight: bold;
}

.experience-position:hover{
    /* Colors */
    background-color: white;
    color: royalblue;
    /* Border */
    border-top: 4px solid darkgoldenrod;
    /* Animation */
    transition: ease-in-out 0.2s;
}

.experience-position:not(:last-child){
    margin-bottom: 20px;
}

.project-card,
.education-card{
    /*Display*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /*Layout*/
    padding: 15px;
    border-top: 4px solid royalblue;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Sizing */
    max-width: 400px;
    width: 100%;
    height: auto;
    /* Colors */
    background-color: royalblue;
    color: white;
    /* Font */
    font-weight: bold;
}

.project-card *:not(:last-child),
.education-card *:not(:last-child){
    /*Layout*/
    margin-bottom: 5px;
}

.project-title-container,
.project-dates-container,
.education-title-container,
.education-dates-container{
    /*Display*/
    display: flex;
    justify-content: center;
}

.project-image-container,
.education-image-container{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Sizing*/
    height: 200px;
}

.project-description-container{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Sizing*/
    overflow: auto;
    height: 85px;
}

.education-description-container{
    /*Display*/
    display: flex;
    justify-content: center;
    /*Sizing*/
    overflow: auto;
    height: 150px;
}

.project-tools-container{
    /*Display*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*Sizing*/
    height: auto;
}

.project-title-link{
    /* Text */
    text-decoration: none;
    /* Color */
    color: white;
}


.project-image,
.education-image{
    /*Display*/
    flex: 1;
    /*Sizing*/
    width: 100%;
    height: 200px;
}



.form-container{    
    /* Display */
    display: flex;
    justify-content: center;
    /* Centering form */
    text-align: center;
    /*Sizing*/
    margin-top: 25px;
    margin-bottom: 10px;
}

.form-container.edit-form{
    /*Display*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {    
    /* Sizing */
    width: 700px;
    /* Display */
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: initial;
    /* Margin */
    margin: 0 auto;
    /*Text align*/
    text-align: left;
    /* Borders */
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: royalblue;
    color: white;
}

form#edit-message-form{    
    width: 100%;
    max-width: 100%;
    margin-bottom: auto;
}

.flex-controls{
    display: flex;
    justify-content: space-between;
}

.form-label{
    display: block;
}

.flex-control{
    /*Display*/
    display: flex;
    flex-direction: column;
    flex: 1;
    /* Padding */
    padding: 5px;
    /* Margin */
    margin: 5px;
    /* Width*/
    width: 100%;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: royalblue !important;

}

.form-input{
    /* Appearance */
    appearance: none;
    /* Dimensions */
    width: 100%;
    /* Font */
    font-family: inherit;
    font-weight:normal;
    /* Borders */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /*Text decoration*/
    text-decoration: none;
    /*Color*/
    color: royalblue;
}

.form-input:focus{
    /* Remove default black border when focused*/
    outline: 0px;
    /* Borders */
    border: 3px solid goldenrod;
}


.form-textarea{
    /* Appearance */
    appearance: none;
    /* Dimensions */
    width: 100%;
    height: 100px;
    /* Resize property*/
    resize: none;
    /* Font */
    font-family: inherit;
    font-weight:normal;
    /* Color */
    color: royalblue;
    /* Borders */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /*Text decoration*/
    text-decoration: none;
}

.form-textarea:focus{
    outline: 0px;
    /* Borders */
    border: 3px solid goldenrod;
}

.form-button{
    /*Display*/
    display: block;
    /* Appearance */
    appearance: none;
    /* Width */
    width: 110px;
    /* Margin */
    margin: 5px auto;
    /* Font */
    font-family: inherit;
    font-weight: bold;
    /* Borders */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;
}

.form-button#editSubmit{
    width: 150px;
}

.form-button:hover{
    /* Borders */
    border-top:3px solid goldenrod;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;  
    /* Transform */
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.close-button{
    /*Display*/
    display: block;
    /* Appearance */
    appearance: none;
    /* Width */
    width: 110px;
    /* Margin */
    margin-top: 25px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    /* Font */
    font-family: inherit;
    font-weight: bold;
    /* Borders */
    border:3px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: royalblue;
    color: white;
}

.close-button:hover{
    /* Borders */
    border-top:3px solid goldenrod;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;  
    /* Transform */
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.comment{
    /*Display*/
    display: flex;
    flex-direction:column;
    /* Spacing */
    padding: 15px;
    /* Margin */
    margin: 20px;
    /* Border */
    border-top: 4px solid royalblue;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: royalblue;
    color: white;
    /* Font */
    font-weight: bold;
}

.flex-header{
    /*Display*/
    display: flex;
    justify-content: space-between;
}

.comment-anchor{
    flex: none;
    /*Text decoration*/
    text-decoration: none;
    /* Color */
    color: white;
}

.comment-span{
    flex: none;
    /*Font*/
    font-weight: normal;
}

.comment-span.date{
    /*Font*/
    font-weight: 300;
    font-style: italic;
}

.comment-button-container{
    /*Display*/
    display: flex;
    justify-content: right;
}

.comment-button{
    /* Appearance */
    appearance: none;
    /* Width */
    width: 110px;
    /*Padding*/
    padding: 5px;
    /*Margin*/
    margin: 5px 5px 5px 0px;
    /* Font */
    font-family: inherit;
    font-weight: bold;
    /* Borders */
    border:3px solid white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;
}

.comment-button:hover{
    /* Borders */
    border-top:3px solid goldenrod;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /* Colors */
    background-color: white;
    color: royalblue;  
    /* Transform */
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}



/* 
==================================
=           TOPNAV CSS           =
==================================
*/
/*
    CSS to create a top fixed navigation bar for my website
*/
.top-navigation-bar-container {
    /*Display*/
    display: flex;
    justify-content: center;
    z-index: 1;
}

.top-navigation-bar {
    flex:auto;
    /* Display */
    display: flex;
    justify-content: space-between;
    /* Hiding the scroll bar when overflow happens on my navbar*/
    overflow: hidden;
    /* Fixing the position of my navbar to make it visible no matter the position of my page */
    position: fixed;
    /* Making my navbar cover all the width of the page*/
    width: 100%;
    height: auto;
    /* Putting no space between the beginning of the page and the navbar */
    top: 0;
    /* Using royalblue color as the background color of my navbar */
    background-color: royalblue;
    /* Border */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.nav-logo-container{
    /*Display*/
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 1 auto;
}

.nav-item-container{
    /*Display*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*Flex item*/
    flex: 1;
}

.nav-button-container{
    /*Display*/
    display: none;
}

/*
    CSS to style each link on my navbar
*/
#top-navigation-bar a.nav-item {
    /*Display*/
    flex: 1;
    /* Set a white color for the fonts */
    color: white;
    /* Center the text on each link, set a 17px size and set decoration to none */
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    /* Padding each link */
    padding: 12px 20px;
    /* Border */
    border-top: 4px solid royalblue;
}

#top-navigation-bar a.nav-logo{
    /*Padding*/
    padding: 0px 20px;
    border-top: 4px solid royalblue;
}

#top-navigation-bar a.nav-logo img{
    /*Sizing*/
    width: 165px;
    height: auto;
}

/*
    CSS to highlight active links on my navbar
*/
#top-navigation-bar a.active {
    /* Fonts */
    font-weight: bold;
    /* Colors */
    background-color: white;
    color: darkgoldenrod;
    /* Border */
    border-top: 4px solid darkgoldenrod;
}

/*
    CSS to style each time the mouse hovers over a link
*/
#top-navigation-bar a.nav-item:hover {
    /* Colors */
    background-color: white;
    color: royalblue;
    /* Border */
    border-top: 4px solid darkgoldenrod;
    /* Animation */
    transition: ease-in-out 0.2s;
}

/*
=================================
        WELCOME HEADER CSS
=================================
*/

.welcome-header-container{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /*Sizing*/
    width: 90%;
    height: 45vh;
    /*Layout*/
    padding: 0 10vw;
    margin-top: 5vh;
    margin-bottom: 75px;
    /*Animation*/
    transition: .5s;
}

.welcome-header-content{
    display:flex;
    flex-direction: column;
    flex: 1;
}

.header-content{
    /*Font*/
    font-size: 2.5rem;
    font-weight: 300;
    /*Layout*/
    margin-bottom: 40px
}

.header-content .header-content-brand{
    /*Display*/
    display: flex;
    flex-direction: column;
    /*Font*/
    text-transform: capitalize;
    font-size: 4.5rem;
    font-weight: bold;
    /*Colors*/
    color: royalblue;
    /*Animation*/
    transition: .5s;
}

.welcome-header-content .header-content-item{
    cursor: pointer;
    /* Display */
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    /* Fonts */
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-style: normal;
    /* Layout */
    border-top: 3px solid royalblue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    /*Sizing*/
    width: 200px;
    min-width: 200px;
    /* Color */
    background-color: royalblue;
    color: white;    
}

.welcome-header-content .header-content-item:hover  {
    /*Borders*/
    border-color: goldenrod;
    /*Colors*/
    background-color: white;
    color: royalblue;
    /*Transform*/
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.welcome-header-img-container{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.welcome-header-img{
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.circle{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: royalblue;
    margin-left: 20px;
    position: relative;
    user-select: none;
    transition: .5s;
}

.circle::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    border: 10px solid #fff;
    border-radius: 50%;
}
/* 
==================================
=           MESSAGES CSS         =
==================================
*/
#messages #list-of-messages {
    list-style-type: none;
    /*Padding*/
    padding-left: 0px;
}
/* 
==================================
=           FOOTER CSS           =
==================================
*/
/*
    CSS to create a footer navigation bar for my website
*/
footer{
    width: 100%;
}

.footer-navigation-bar-container{
    /*Display*/
    display: flex;
    justify-content: center;
}

.footer-navigation-bar {
    /* Display */
    display: flex;
    justify-content: space-around;
    /* Hiding the scroll bar when overflow happens on my footer navbar*/
    overflow: hidden;
    /* Making my footer navbar cover all the width of the page*/
    width: 100%;
    /* Using royalblue color as the background color of my navbar */
    background-color: white;
    /*Borders*/
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    /*Margin*/
    margin-top: 25px;
}

/*
    CSS to generally style a footer element
*/
.footer-navigation-bar .footer-element {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /* Text */
    text-decoration: none;
    /* Fonts */
    font-size: 17px;
    font-weight: bold;
    /* Colors */
    color: royalblue;
    /* Padding element */
    padding: 0px;
}

.footer-navigation-bar .footer-element .horizontal-list{
    /*Display*/
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-wrap: wrap;
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item {
    /* Display */
    display: flex;
    flex: 0 1 auto;
    /* Overflow */
    overflow: hidden;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Borders */
    border-top: 3px solid royalblue;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    /*Margin*/
    margin: 0px 10px;
    /* Color */
    background-color: royalblue;
    color: white;    
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item:hover,
.footer-navigation-bar .footer-element .horizontal-list li.connect-item:hover > *{
    /*Borders*/
    border-color: goldenrod;
    /*Colors*/
    background-color: white;
    color: royalblue;
    /*Transform*/
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.footer-navigation-bar .footer-element .horizontal-list li.connect-item a{
    /*Display*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
    /*Colors*/
    color: white;
    /* Text */
    text-decoration: none;
    /*Padding*/
    padding: 5px;
    /*Width*/
    width: 50px;
    min-width: 50px;
}

/* 
==================================
=           MODAL CSS            =
==================================
*/
.modal-container{
    /* Visibility */
    visibility: hidden;   
    opacity: 0; 
    /*Displays*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Position*/
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*Spacing*/
    padding: 0px;
    margin: 0px;
    /* Dimensions */
    max-width: 100%;
    width: 100%;
    height: 100%;
    /* Colors */
    background-color: rgba(0,0,0,0.3);
    /* Transition */    
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.modal{
    /*Display*/
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Overflow*/
    overflow:auto;
    /* Dimensions */
    width: 50%;
    height: 70%;
    max-height: 435px;
    max-width: 600px;
    min-width: 300px;
    /*Position*/
    bottom: 0;
    left: 0;
    /* Border */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    /* Padding */
    padding: 30px 50px;
    /* Colors */
    background-color: whitesmoke;
}

.modal .form-container{
    /*Sizing*/
    width: 100%;
}


.modal h1{
    /* Margins */
    margin-top: 2px;
    margin-bottom: 0px
}

.modal-container.show {
    /* Display */
    visibility: visible;
    opacity: 1;
}

/* 
==================================
=          MEDIA QUERIES         =
==================================
*/
/* PCS */
@media (max-width: 1410px){
    .welcome-header-container .header-content .header-content-brand{
        /*Fonts*/
        font-size: 4rem;
        transition: .5s;
    }

    .circle{
        /*Sizing*/
        width: 300px;
        height: 300px;
        transition: .5s;
    }

    .welcome-header-img{
        /*Sizing*/
        width: 350px;
        height: 350px;
        transition: .5s;
    }
}

/* TABLETS */
/* MAXIMUM TABLET WIDTH OF 1150PX*/
@media (max-width: 1150px){
    /* Navigation Bar */
    .top-navigation-bar-container .top-navigation-bar .nav-item-container .nav-item span{
        display: none;
    }
}

@media (max-width: 985px){
    section#tech-experience ul.experience-list li.experience-position{
        /*Display*/
        flex-direction: column;
    }
}

@media (max-width: 700px){
    .welcome-header-container{
        /*Display*/
        flex-direction: column-reverse;
        align-items: center;
        /*Sizing*/
        height: auto;
        margin-bottom: 0px;
        /*Layout*/
        padding: 10px 10vw;
        transition: .5s;
    }

    .welcome-header-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome-header-img-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-content{
        /*Font*/
        text-align: center;
    }

    .circle{
         /*Sizing*/
         width: 250px;
         height: 250px;
         transition: .5s;
    }

    .welcome-header-img{
        /*Sizing*/
        width: 300px;
        height: 300px;
        transition: .5s;
    }
}



/* Smartphones */
/* MAXIMUM WIDTH OF SMARTPHONES OF 540PX*/
@media (max-width: 540px){
    .top-navigation-bar{
        /*Display*/
        justify-content: center;
        flex: 1;
    }

    #top-navigation-bar .nav-logo-container{
        flex: 1;
    }

    #top-navigation-bar .nav-item-container{
        /*Display*/
        display: none;
        flex: 1;
    }

    .nav-button-container{
        /*Display*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        /*Flex item*/
        flex: 0 1 auto;
    }

    /* Once hamburguer menu is clicked */
    .top-navigation-bar.responsive-nav{
        flex-direction: column;
    }

    .top-navigation-bar.responsive-nav .nav-button-container,
    .top-navigation-bar.responsive-nav .nav-button-container .nav-item{
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #top-navigation-bar.responsive-nav .nav-item-container{
        display: flex;   
        flex-direction: column;  
    }


    #top-navigation-bar.responsive-nav .nav-item-container .nav-item{
        /*Display*/
        display: flex;
        flex-direction: column;   
        /*Sizing*/
        width: 100%;   
        /*Animation*/
        animation: fade_in_show 0.5s
    }

     /* Navigation Bar */
     #top-navigation-bar.responsive-nav .nav-item-container .nav-item span{
        display: flex;
        flex-direction: column;
    }

    @keyframes fade_in_show {
        0% {
             opacity: 0;
             transform: scale(0)
        }
   
        100% {
             opacity: 1;
             transform: scale(1)
        }
   }

    section#leave-message div.form-container form#message-form div.flex-controls{
        /*Display*/
        flex-direction: column;
    }

    section#leave-message div.form-container form#message-form  div.flex-controls div.flex-control{
        /*Sizing*/
        margin: auto;
    }

    section#messages ul#list-of-messages li div.comment div.flex-header{
        /*Display*/
        flex-direction: column;
    }

    section#modal-container div.modal div.form-container.edit-form form#edit-message-form div.flex-controls{
        /*Display*/
        flex-direction: column;
    }

    section#modal-container div.modal div.form-container.edit-form form#edit-message-form div.flex-controls div.flex-control{
        /*Sizing*/
        margin: auto;
    }
}

@media (max-width: 400px){
    .footer-navigation-bar{
        /*Display*/
        flex-direction: column;
    }
}

@media (max-width: 295px){

    #top-navigation-bar .nav-logo-container{
        /*Display*/
        display: none;
    }

    .nav-button-container{
        /*Flex item*/
        flex: 1 1 auto;
    }

    .top-navigation-bar.responsive-nav{
        flex-direction: column-reverse;
    }

    .top-navigation-bar.responsive-nav .nav-button-container,
    .top-navigation-bar.responsive-nav .nav-button-container .nav-item{
        display: flex;
        position:static;
        justify-content: center;
    }
}

@media (max-width: 130px){
     /* Navigation Bar */
     #top-navigation-bar.responsive-nav .nav-item-container .nav-item span{
        display: none;
    }
}


