/* CSS for the body of my HTML page*/
html {
    scroll-padding-top: 40px;
}

body {
    /* Top margin */
    margin: 5vh 0 0;
    /* Min height to display on my html body */
    min-height: 100vh;
    /* Fonts */
    font-family: Arial, Helvetica, sans-serif;
    /*Display*/
    display: flex;
    flex-direction: column;
}

/* CSS for the section elements of my HTML page */
section {
    /* Justifying text on sections */
    text-align: justify;
}

/* CSS for the main element of my HTML page */
main {
    flex-grow: 1;
}

/* CSS for container divs for page content*/
.container {
    /* Setting width of .container elements */
    width: 90vw;
    /* Setting the max width of the main content as 1024px*/
    max-width: 1024px;
    /* Centering the main content relative to the viewport*/
    margin: 0 auto;
}

.inner-container{
    width: 100%;
    height: 5em;
}

/* CSS for container divs for navigation bars */
.nav-container {
    /* Display */
    display: flex;
    justify-content: space-between;
}

/* 
   CSS for the unordered list with the class "horizontal-list"
   in order to turn it into a horizontal list 
*/
.horizontal-list li {
    overflow: hidden;
    /* Turning list into a horizontal list */
    display: inline-block;
    /* Fonts */
    font-weight: bold;
    font-style: normal;
    /* Borders */
    border: 3px solid royalblue;
    border-radius: 20px;
    /* Margins between list items*/
    margin-right: 10px;
    /* Color */
    background-color: royalblue;
    color: white;    

}

.horizontal-list li a {
    /* Displaying a tags as inline-blocks */
    display: inline-block;
    /* Colors */
    color: white;
    /* Text */
    text-decoration: none;
    text-align: center;
    /* Padding */
    padding: 5px;
    /* Width */
    width: 100px;
    min-width: 100px;
    /*Grow*/    transition: all .2s ease-in-out;

}

.horizontal-list li:hover > *{
    /*Colors*/
    background-color: white;
    border-color: royalblue;
    color: royalblue;
    /*Transform*/
    transform: scale(1.05);
}

/*
    CSS to create a top fixed navigation bar for my website
*/
#topNav {
    /* Hiding the scroll bar when overflow happens on my navbar*/
    overflow: hidden;
    /* Fixing the position of my navbar to make it visible no matter the position of my page */
    position: fixed;
    /* Making my navbar cover all the width of the page*/
    width: 100%;
    /* Putting no space between the beginning of the page and the navbar */
    top: 0;
    /* Using royalblue color as the background color of my navbar */
    background-color: royalblue;
}

/*
    CSS to style each link on my navbar
*/
#topNav a {
    /* Horizontally display the links */
    float: left;
    display: block;
    /* Set a white color for the fonts */
    color: white;
    /* Center the text on each link, set a 17px size and set decoration to none */
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    /* Padding each link */
    padding: 12px 20px;
}

/*
    CSS to highlight active links on my navbar
*/
#topNav a.active {
    /* Fonts */
    font-weight: bold;
    /* Colors */
    background-color: white;
    color: darkgoldenrod;
}

/*
    CSS to style each time the mouse hovers over a link
*/
#topNav a:hover {
    /* Colors */
    background-color: white;
    color: royalblue;
}

/*
    CSS to justify content between elements inside the flex display: 
    - .logo: to the left.
    - .center: to the center
    - .icon: to the right
*/
#topNav .logo {
    justify-content: left;
}

#topNav .center {
    justify-content: center;
}

#topNav .icon {
    justify-content: right;
}

/*
    CSS to create a bottom navigation bar for my website
*/
#footerNav {
    /* Hiding the scroll bar when overflow happens on my navbar*/
    overflow: hidden;
    /* Making my navbar cover all the width of the page*/
    width: 100%;
    /* Using royalblue color as the background color of my navbar */
    background-color: whitesmoke;
}

/*
    CSS to generally style a footer element
*/
#footerNav .footer-element {
    /* Horizontally display the links */
    float: left;
    /* Center the text on each link, set a 17px size and set decoration to none */
    text-align: center;
    /* Text */
    text-decoration: none;
    /* Fonts */
    font-size: 17px;
    font-weight: bold;
    /* Colors */
    color: royalblue;
    /* Padding each link */
    padding: 0 20px;
}
