/* CSS for the body of my HTML page*/
body {
    /* Top margin */
    margin: 55px 0 0;
    /* Min height to display on my html body */
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* CSS for the section elements of my HTML page */
section {
    /* Justifying text on sections */
    text-align: justify;
}

main {
    flex-grow: 1;
    /* Setting the width of main content 90% of the current viewport*/
    width: 90vw;
    /* Setting the max width of the main content as 1024px*/
    max-width: 1024px;
    /* Centering the main content relative to the viewport*/
    margin: 0 auto;
}


/* 
   CSS for the unordered list with the class "horizontal-list"
   in order to turn it into a horizontal list 
*/
ul.horizontal-list li {
    /* Turning list into a horizontal list */
    float: left;
    list-style-type: none;
    /* Padding between list items */
    padding: 5px;
}

/*
    CSS to create a top fixed navigation bar for my website
*/
#topNav {
    /* Displaying my <nav> element as flex to create space between elements */
    display: flex;
    justify-content: space-between;
    /* Hiding the scroll bar when overflow happens on my navbar*/
    overflow: hidden;
    /* Fixing the position of my navbar to make it visible no matter the position of my page */
    position: fixed;
    /* Making my navbar cover all the width of the page*/
    width: 100%;
    /* Putting no space between the beginning of the page and the navbar */
    top: 0;
    /* Using royalblue color as the background color of my navbar */
    background-color: royalblue;
}

/*
    CSS to style each link on my navbar
*/
#topNav a {
    /* Horizontally display the links */
    float: left;
    /* Set a white color for the fonts */
    color: white;
    /* Center the text on each link, set a 17px size and set decoration to none */
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    /* Padding each link */
    padding: 14px 20px;
}

/*
    CSS to highlight active links on my navbar
*/
#topNav a.active {
    font-weight: bold;
    background-color: white;
    color: darkgoldenrod;
}

/*
    CSS to style each time the mouse hovers over a link
*/
#topNav a:hover {
    background-color: white;
    color: royalblue;
}

/*
    CSS to justify content between elements inside the flex display: 
    - .logo: to the left.
    - .center: to the center
    - .icon: to the right
*/
#topNav .logo {
    justify-content: left;
}

#topNav .center {
    justify-content: center;
}

#topNav .icon {
    justify-content: right;
}

/*
    CSS to create a bottom navigation bar for my website
*/
#footerNav {
    /* Displaying my <nav> element as flex to create space between elements */
    display: flex;
    justify-content: space-between;
    /* Hiding the scroll bar when overflow happens on my navbar*/
    overflow: hidden;
    /* Making my navbar cover all the width of the page*/
    width: 100%;
    /* Using royalblue color as the background color of my navbar */
    background-color: whitesmoke;
}

/*
    CSS to generally style a footer element
*/
#footerNav .footer-element {
    /* Horizontally display the links */
    float: left;
    /* Center the text on each link, set a 17px size and set decoration to none */
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: royalblue;
    /* Padding each link */
    padding: 0 20px;
}
